


body{
    display:flex;
    flex-direction:column;
    background-color:yellow;
    font-family:Arial;
    margin:0;
}

.gypsy {
    background: yellow url(Gypsy60.jpg) no-repeat center;
    background-size: 90%;
    background-attachment: fixed;
}
header{
    background-color:yellow;
    top:0px;
   }

h1{
    text-align:center;
    color:deeppink;
    font-size:3em;
   
}
.corps {
    margin-right: auto;
    margin-left: auto;
}
.musik {
    background-color: yellow;
     display:flex;
     flex-direction:column;
     width:100%;
     margin-top:5%;
     margin-bottom:5%;
     height:5%;
    
}
audio{
    margin:auto;
    margin-top:3%;
    margin-bottom:3%;
}

h2{
    color:darkmagenta;
    text-align:center;
}

.chanson{
    font-size:2em;
    background-color:rgba(255, 255, 255, 0.6);
    padding:5%;
    width:100%;
}

span{
    font-weight:bold;
    color:mediumblue;
}
.paroles{
    margin:auto;
    font-size:.8em;
    background-color:yellow;
    font-size:2em;
    margin:auto;
    padding:1%;
    position:fixed;
    bottom:0px;
    right:0px;
}
.chore {
    margin: auto;
    font-size: .8em;
    background-color: yellow;
    font-size: 2em;
    margin: auto;
    padding: 1%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.ki {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top:3%;
   }


.lettre_i{
    width:6%;
    height:6%;
    margin:2%;
   }

.lettre_k {
    width: 10%;
    height: 10%;
    margin:2%;
  }