


body{
    display:flex;
    flex-direction:column;
    background-color:yellow;
    font-family:Arial;
    margin:0;
}

.gypsy {
    background: yellow url(Gypsy60.jpg) no-repeat center;
    background-size: 90%;
    background-attachment: fixed;
}
header{
    background-color:yellow;
   }

.page_une{
    position:fixed;
    bottom:0px;
    width:100%;
}

h1{
    text-align:center;
    color:deeppink;
    font-size:3em;
   }

h3 {
    text-align: center;
    color: deeppink;
    font-size: 2em;
}

.corps {
    margin-right: auto;
    margin-left: auto;
    display:flex;
    flex-direction:column;
    width:40%;
}

.accueil {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: fixed;
    top: 10%;
    left:25%;
    right:25%;
    background-color: rgba(255, 255, 255, 0.6);
}
.musik {
    background-color: yellow;
     display:flex;
     flex-direction:column;
     width:100%;
     margin-top:5%;
     margin-bottom:5%;
     height:5%;
    
}
audio{
    margin:auto;
    margin-top:3%;
    margin-bottom:3%;
}

h2{
    color:darkmagenta;
    text-align:center;
}



.chanson{
    font-size:2em;
    background-color:rgba(255, 255, 255, 0.6);
    padding:5%;
    width:90%;
   }

.menu {
    display:flex;
    flex-direction:column;
    font-size: 2em;
    
    padding: 5%;
    
}



span{
    font-weight:bold;
    color:mediumblue;
}
.paroles{
    margin:auto;
    background-color:yellow;
    font-size:2em;
    padding:1%;
    position:fixed;
    bottom:0px;
    right:0px;
    
}
.chore {
    margin: auto;
    background-color: deeppink;
    font-size: 2em;
    padding: 1%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    color:white;
}

.costume {
display:flex;
flex-direction:column;
}
/*.danse{
    width:40%;
}*/
.habille{
    display:flex;
    justify-content:center;
}

.let_k {
    width: 20%;
}
.let_i {
    width: 14%;
}

.vetement {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top:2%;
}
.tshirt_gr{
    width:20%;
}
.tshirt_grt {
    width: 100%;
    display:flex;
    flex-direction:row;
}

.cos{
    text-align:center;
    font-size:1.5em;
}


.tshirt{
    width:50%;
}

.gilet {
    width: 100%;
}

.pantalon {
    width: 100%;
}

.ki {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top:3%;
   }


.lettre_i{
    width:6%;
    height:6%;
    margin:2%;
   }

.lettre_k {
    width: 10%;
    height: 10%;
    margin:2%;
  }

/******MEDIA QUERIES*******/ /*TABLETTE*/
@media only screen and (max-width: 992px) {
    h1 {
        font-size: 2em;
    }

    .paroles {
        font-size: 1.2em;
    }

    .chore {
        font-size: 1.2em;
    }

    .chanson {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    .gypsy {
        background: yellow url(Gypsy60.jpg) repeat center;
        background-size: 90%;
        background-attachment: fixed;
    }
    .corps {
       width: 70%;
    }
    .menu{
        font-size:1.5em;
    }
    .accueil {
       width: 70%;
       top: 20%;
        left: 15%;
        right: 15%;
    }
    }

/******MEDIA QUERIES*******/ /*MOBILE*/
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 1.4em;
    }

    .paroles {
        font-size: 0.8em;  /*lien en footer*/
    }

    .chore {
        font-size: 0.8em; /*lien en footer*/
    }

    .chanson {
        font-size: 0.9em;
    }

    h2 {
        font-size: 1em;
    }
    .corps {
        width: 90%;
    }
    .menu {
        font-size: 1em;
    }

    .accueil {
        width: 90%;
        top: 20%;
        left: 5%;
        right: 5%;
    }
    .cos{
        font-size:1em;
    }
}
